<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>


  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\PandaLogs\Serilog\Serilog-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="30" />
  </appSettings>


  <log4net>
    <!--<logger name="File_SF_Logger">
      <level value="ALL" />
      <appender-ref ref="LogFile_SF_Appender" />
    </logger>-->


    <appender name="LogFile_SF_Appender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\PandaLogs\Log4Net\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="0" />
      <staticLogFileName value="false" />
      <countDirection value="1" />
      <datePattern value="Lo\g-yyyyMMdd.\tx\t" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-10p%d{yyyy-MM-dd HH:mm:ss} – %m%n" />
      </layout>
    </appender>


    <root>
      <level value="ALL" />
      <appender-ref ref="LogFile_SF_Appender" />
    </root>
  </log4net>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

</configuration>